
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
    padding: 20px;
}

.card:hover {
    background: #d6fad6; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    transform: translateY(+1px); 
}

/* Card Header Styles */
.card-header h4 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card-body p {
    margin: 5px 0;
    color: #666;
}

.card-body p strong {
    color: #333;
}
